html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
  /*отключить для 17  */
}

img {
  max-width: 100%;
}

body {
  font-size: 16px;
}

.container {
  margin: 20px auto;
  padding: 0 10px;
  max-width: 1220px;
}

/* 9) Уведомление в углу страницы */

/* .notification {
  position: absolute;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid black;

  font-size: xx-large;
} */


/* 10) Ширина скролл бара */

/* #example {
  width: 400px;
  height: 300px;
  overflow: auto;
  border: 25px solid #E8C48F;
  padding: 20px;
} */


/* 11) Помещение мяча в центр поля  */

/* #field {
  margin: 20px auto;
  width: 200px;
  border: 10px groove black;
  background-color: #00FF00;
  position: relative;
} */

/* #ball {
  position: absolute;
  width: 40px;
  height: 40px;
} */


/* 12-15) Нахождение координат */

/* .note {
  position: absolute;
  z-index: 1000;
  padding: 5px;
  border: 1px solid black;
  background: white;
  text-align: center;
  font: italic 14px serif;
}

blockquote {

  background: #050505;
  border-left: 10px solid #ccc;
  margin: 1000px 0 16px 100px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
  display: inline-block;
  white-space: pre;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
} */


/* 15) Перемещение объекта в место клика */

/* #field {
  cursor: pointer;
  margin: 200px auto;
  width: 520px;
  height: 470px;
  border: 10px solid black;
  background-color: #00FF00;
  overflow: hidden;
}

#ball {
  position: absolute;

  transition: all 0.7s ease-in-out 0s;
}

.field__inner {
  height: 2000px;
}

.coordinate__text {
  text-align: center;
} */


/* 16) Спрятать текст с помощью делегирования   */

/* .container {
  margin: 20px auto;
  max-width: 600px;
}

h3 {
  margin: 0;
  padding-bottom: .3em;
  padding-right: 20px;
  font-size: 1.1em;
}

p {
  margin: 0;
  padding: 0 0 .5em;
}

.pane {
  background: #edf5e1;
  padding: 10px 20px 10px;
  border-top: solid 2px #c4df9b;
  position: relative;
}

.remove-button {
  position: absolute;
  font-size: 110%;
  top: 0;
  color: darkred;
  right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
} */


/* 17) Раскрывающееся дерево с помощью делегирования */

/* body {
  cursor: pointer;
}

.hide {
  display: none;
} */


/* 18) Поймать переход по ссылке */

/* #contents {
  padding: 5px;
  border: 1px green solid;
}

a {
  color: blueviolet;
  text-decoration: underline;
} */


/* 19) Выделение текста по клику */

/* .selected {
  background: #0f0;
}

li {
  list-style: circle;
  cursor: pointer;
} */

/* 20) Улучшенная подсказка */

/* .inner {
  height: 2000px;
}

.tooltip {
  position: absolute;
  z-index: 100;

  padding: 10px 20px;

  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

#house {
  margin: 0 auto;
  margin-top: 50px;
  width: 400px;
  border: 1px solid brown;
}

#roof {
  width: 0;
  height: 0;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-bottom: 20px solid brown;
  margin-top: -20px;
}

p {
  text-align: justify;
  margin: 10px 3px;
} */

/* 21) Ползунок */

/* .inner {
  margin-top: 50px;

  display: flex;
  justify-content: center;
}

.slider {
  border-radius: 5px;
  background: #E0E0E0;
  background: linear-gradient(left top, #E0E0E0, #EEEEEE);
  width: 310px;
  height: 15px;
  margin: 5px;
}

.thumb {
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 10px;
  top: -5px;
  background: blue;
  cursor: pointer;
} */


/* 21) Drag'n'drop поле */

/* #field {
  background: url(https://js.cx/drag-heroes/field.png);
  width: 800px;
  height: 600px;
  float: left;
}

.hero {
  background: url(https://js.cx/drag-heroes/heroes.png);
  width: 130px;
  height: 128px;
  float: left;
}

#hero1 {
  background-position: 0 0;
}

#hero2 {
  background-position: 0 -128px;
}

#hero3 {
  background-position: -120px 0;
}

#hero4 {
  background-position: -125px -128px;
}

#hero5 {
  background-position: -248px -128px;
}

#hero6 {
  background-position: -244px 0;
}

.draggable {
  cursor: pointer;
} */


/* 22) Отследить одновременное нажатие */


/* 23,24) Бесконечная прокрутка и стрелка наверх*/

/* .arrow__inner {
  border-radius: 40px;
  position: fixed;
  bottom: 13px;
  right: 33px;
  width: 70px;
  height: 70px;
  display: block;
  background-color: #eba2a2;
}

.arrow {
  width: 35px;
  height: 35px;

  border-top: 2px solid #000000;
  border-right: 2px solid #000000;

  margin: 16px 0 0 10px;

  transform: rotate(-45deg);

  display: inline-block;

  position: fixed;
  bottom: 20px;
  right: 50px;

} */


/* 25)  */