html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 16px;
}

/* 9) Уведомление в углу страницы */

.notification {
  position: absolute;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid black;

  font-size: xx-large;
}

/* 10) Ширина скролл бара */

#example {
  width: 400px;
  height: 300px;
  overflow: auto;
  border: 25px solid #E8C48F;
  padding: 20px;
}

/* 11) Помещение мяча в центр поля  */

#field {
  margin: 20px auto;
  width: 200px;
  border: 10px groove black;
  background-color: #00FF00;
  position: relative;
}

#ball {
  position: absolute;
  width: 40px;
  height: 40px;
}

/* 12)  */