html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 16px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  line-height: 1.62;
  font-size: 18px;

  cursor: pointer;

  background-color: black;
}

.button {
  padding: 0;
  margin: 10px;
  background-color: transparent;
  border: none;

  max-height: 50px;

  color: white;
  font-size: 40px;
  font-weight: normal;

  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: #f5d5f3;
  transform: scale3d(1.3, 1.3, 1.3);

}

.container {
  margin: 20px auto;
  padding: 0 10px;
  max-width: 1220px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
}

/* Top */

.top-slider {
  overflow: hidden;

  padding: 0 15px;
}

.main-photo {
  display: flex;

  align-items: center;
  gap: 40px;

  height: 600px;

  /* perspective: 420px; */

  /* Scroll */
  transition: transform 1s ease-in-out
}

.main-photo__item {
  display: flex;

  border: solid 5px white;
  border-radius: 10px;

  width: 250px;
  height: 250px;

  /* transform: rotateY(130deg) translate(17px, 18px); */

  transition: transform 0.4s ease-in-out, width 1s ease-in-out, height 1s ease-in-out;
}

.main-photo__item:hover {
  border-color: #f5d5f3;
  transform: scale3d(1.1, 1.1, 1.1);
}

.selected {
  width: 500px;
  height: 500px;
  border-color: #f5d5f3;
}

/* Bottom */

.bottom-slider {
  display: flex;
  align-items: center;
}

.bottom-slider__inner {
  overflow: hidden;
}

.thumbs__item-link {
  display: flex;

  border: solid 4px white;
  border-radius: 7px;
  background-color: #f5d5f3;

  width: 108px;
  height: 108px;
  margin: 5px;

  overflow: hidden;
}

.thumbs__item-link:hover {
  border-color: #f5d5f3
}

.thumbs__img {
  transition: all 0.2s ease-in-out;
}

.thumbs__img:hover {
  transform: scale3d(1.1, 1.1, 1.1);
}

.thumbs__item {
  list-style: none;
}

.thumbs {
  display: flex;

  padding: 0;
  margin-top: 30px;

  transition: all 0.7s ease-in-out
}

.current {
  border-color: #f5d5f3;
}