html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 16px;
}

body {
  overflow: hidden;

  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  line-height: 1.62;
  font-size: 18px;

  cursor: pointer;

  background-color: black;
}

.container {
  max-width: 1220px;

  margin: 0 auto;
  padding: 0 10px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: end;

  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

.header__logo {
  margin-top: 10px;
}

.header__content-desc {
  display: flex;

  align-items: end;
}

.header__list {
  display: flex;
  gap: 30px;
}

.header__list-item {
  color: white
}

.header__list-item::after {
  display: block;
  content: "";
  height: 2px;
  width: 0px;
  background-image: -webkit-gradient(linear, left top, right top, from(#4499d9), color-stop(#4499d9), to(#7367be));
  background-image: linear-gradient(to right, #4499d9, #4499d9, #7367be);
  transition: all 0.3s ease-in-out;
}

.header__list-item:hover::after {
  width: 100%;
}

.header__button {
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  border: none;
  flex-shrink: 0;
  min-width: 180px;
  border-radius: 25px;
  background: linear-gradient(137deg, #4499d9 0%, #7367be 100%);
  padding: 13px 14px 14px 19px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;

  margin-left: 55px;

  transition: all 0.3s ease;
}

.header__button:hover {
  background: linear-gradient(137deg, #4499d9 100%, #7367be 0%);
  -webkit-box-shadow: 2px 2px 7px #826f8c;
  box-shadow: 2px 2px 7px #826f8c;
}

/* Мобильная */

.header__content-mobile {
  display: none;
}

.header__burger {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  gap: 7px;

  color: white;
  /* Общий цвет для линий */
}

.header__burger:hover {
  color: #7367be;
}

.header__burger__active {
  color: black
}

.burger__line {
  content: '';

  width: 40px;
  height: 3px;

  background-color: currentColor;
  /* Имба */

  transform-origin: left center;
  transform: rotate(0);
  transform: scale(1);
  margin-top: 0px;
  transition: all 0.3s ease-in-out;
}

.burger__first-line__active {
  transform: rotate(45deg);
  margin-top: 10px
}

.burger__second-line__active {
  transform: scale(0)
}

.burger__last-line__active {
  transform: rotate(-45deg);
  margin-top: 8px
}

.burger__inner {
  position: absolute;
  top: 0;
  right: 0;

  width: 0vw;
  height: 940px;

  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;


  transition: 1s cubic-bezier(.7, 0, .2, 1);
}

.burger__active {
  transform: translateX(360px);

  transition: 1s cubic-bezier(.7, 0, .2, 1);
}

.burger__active-true {
  transform: translateX(0px);
}


.active {
  border-top-left-radius: 70%;
  border-bottom-left-radius: 70%;
  width: 50vw;
}


@media (max-width: 1000px) {
  .header__content-desc {
    display: none;
  }

  .header__content-mobile {
    display: flex;
  }

  .header__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 250px;
  }

  .header__list-item {
    font-weight: 700;
    font-size: 30px;
    color: #7367be;
  }

  .header__button {
    margin-top: 50px;
    margin-left: 0px;
  }
}

@media (max-width: 800px) {
  .burger__inner {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .active {
    width: 100vw;

    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
  }
}

@media (max-width: 400px) {
  .header__logo {
    transform: scale(0.7);
  }
}